.home{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("/assets/img/home2.jpg");
    background-size: cover;
    background-position: center center;
    z-index: 1;
  }
  
  .home-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 9999;
  }
  
  .hero-text-box{
    color: #eee;
  }
  
  .heading-primary--hero{
    font-size: 6.4rem;
    color: #fff;
    display: flex;
    gap: 1rem;
    animation: fadeFromTop 1.2s;
  }
  
  .heading-tertiary--hero{
    font-family: 'Pacifico', cursive;
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
    color: #e93636;
    animation: fadeIn 3s;
  }
  
  @keyframes fadeFromTop{
    from{
        opacity: 0;
        transform: translate(0, -600px);
    }
  
    to{
        opacity: 1;
        transform: translate(0);
    }
  }
  
  .hero-text{
    color: #eee;
    font-size: 2.4rem;
    line-height: 1.6rem;
    margin-bottom: 4.8rem;
    animation: fadeIn 3s;
  }
  
  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }
  
  .btn--home{
    font-size: 2rem;
    padding: 1.4rem 4rem;
    border-radius: 30px;
    animation: fadeFromBottom 1.2s;
  }
  
  @keyframes fadeFromBottom{
    from {
        opacity: 0;
        transform: translate(0, 600px);
    }
  
    to{
        opacity: 1;
        transform: translate(0);
    }
  }
  
  /***********************************************************************************/
  /* ------------------ MEDIA QUERIES ---------------------------------------------- */
  /***********************************************************************************/
  
  /******************************/
  /* ----- Bellow 1140px ---- */
  /******************************/
  
  @media(max-width:71.25em){
    .home-container{
      position: absolute;
      left: 40%;
      top: 50%;
      transform: translate(-30%, -50%);
      text-align: center;
      z-index: 9999;
    }
  }
  
  /******************************/
  /* ----- Bellow 948px ---- */
  /******************************/
  
  @media(max-width:59.25em){
    .home-container{
      position: absolute;
      left: 30%;
      top: 50%;
      transform: translate(-20%, -50%);
      text-align: center;
      z-index: 9999;
    }
  }
  
  /******************************/
  /* ----- Bellow 812px ---- */
  /******************************/
  
  @media(max-width:50.75em){
    .heading-primary--hero{
      font-size: 4.8rem;
    }
  
    .heading-tertiary--hero{
      margin-bottom: 2rem;
      font-size: 2rem;
    }
  
    .hero-text{
      font-size: 2rem;
      line-height: 1.6rem;
      margin-bottom: 4rem;
    }
  }
  
  /******************************/
  /* ----- Bellow 610px ---- */
  /******************************/
  
  @media(max-width:38.125em){
    .heading-primary--hero{
      font-size: 3.6rem;
    }
  
    .heading-tertiary--hero{
      margin-bottom: 1.6rem;
      font-size: 1.6rem;
    }
  
    .hero-text{
      font-size: 1.8rem;
      line-height: 1.6rem;
      margin-bottom: 3.5rem;
    }
  }
  
  /******************************/
  /* ----- Bellow 454px ---- */
  /******************************/
  
  @media(max-width:28.135em){
    .heading-primary--hero{
      font-size: 3rem;
    }
  
    .heading-tertiary--hero{
      margin-bottom: 1.6rem;
      font-size: 1.6rem;
    }
  
    .hero-text{
      display: none;
    }
  
    .btn--home{
      font-size: 1.6rem;
      padding: 1.4rem 3.2rem;
    }
  }
  
  /******************************/
  /* ----- Bellow 378px ---- */
  /******************************/
  
  @media(max-width:23.625em){
    .heading-primary--hero{
      font-size: 2.4rem;
    }
  
    .heading-tertiary--hero{
      margin-bottom: 1.2rem;
      font-size: 1.4rem;
    }
  
    .hero-text{
      display: none;
    }
  
    .btn--home{
      font-size: 1.2rem;
      padding: 1.2rem 2.4rem;
    }
  }
  
  /******************************/
  /* ----- Bellow 298px ---- */
  /******************************/
  
  @media(max-width:18.625em){
    .heading-primary--hero{
      font-size: 2rem;
    }
  
    .heading-tertiary--hero{
      margin-bottom: 1.2rem;
      font-size: 1.4rem;
    }
  
    .hero-text{
      display: none;
    }
  
    .btn--home{
      font-size: 1rem;
      padding: 1.2rem 2rem;
    }
  }